@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(225deg, 100%, 94%);
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
}

.main .content {
  background-image: url(../assets/images/pattern_background_desktop.svg);
  background-repeat: repeat-x;
}
@media screen and (max-width: 425px) {
  .main .content {
    background-image: url(../assets/images/pattern_background_mobile.svg);
  }
}
.main .content .content__container {
  display: flex;
  justify-content: center;
}
.main .content .content__container .card {
  width: 370px;
  height: max-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: white;
}
@media screen and (max-width: 425px) {
  .main .content .content__container .card {
    width: 90%;
  }
}
.main .content .content__container .card .card__img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.main .content .content__container .card .card__container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.main .content .content__container .card .card__container .card__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}
.main .content .content__container .card .card__container .card__paragraph {
  font-size: 16px;
  color: hsl(224deg, 23%, 55%);
  margin-bottom: 15px;
  text-align: center;
}
.main .content .content__container .card .card__container .card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225deg, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 425px) {
  .main .content .content__container .card .card__container .card__details {
    padding: 15px;
    font-size: 13px;
  }
}
.main .content .content__container .card .card__container .card__details .details__figure {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .content .content__container .card .card__container .card__details .details__figure .details__img {
  display: block;
  object-fit: contain;
}
@media screen and (max-width: 425px) {
  .main .content .content__container .card .card__container .card__details .details__figure .details__img {
    width: 35px;
    height: 35px;
  }
}
.main .content .content__container .card .card__container .card__details .details__figure .details__plan .plan__time {
  font-weight: 900;
}
.main .content .content__container .card .card__container .card__details .details__figure .details__plan .plan__price {
  color: hsl(224deg, 23%, 55%);
}
.main .content .content__container .card .card__container .card__details .details__change {
  color: hsl(245deg, 75%, 52%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
.main .content .content__container .card .card__container .card__details .details__change:hover {
  opacity: 0.6;
  text-decoration: none;
}
.main .content .content__container .card .card__container .card__buton {
  background-color: hsl(245deg, 75%, 52%);
  color: white;
  padding: 13px 0;
  display: block;
  width: 100%;
  border-radius: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.main .content .content__container .card .card__container .card__buton:hover {
  opacity: 0.75;
}
.main .content .content__container .card .card__container .card__cancel {
  text-decoration: none;
  font-weight: 900;
  color: hsl(224deg, 23%, 55%);
  align-self: center;
  margin-bottom: 10px;
}
.main .content .content__container .card .card__container .card__cancel:hover {
  color: hsl(223deg, 47%, 23%);
}

.footer .credits .credits__container {
  padding: 0 0 30px 0;
}
.footer .credits .credits__container .credits__paragraph {
  text-align: center;
}
.footer .credits .credits__container .credits__paragraph .credits__link {
  color: hsl(224deg, 23%, 55%);
  font-weight: 700;
}
.footer .credits .credits__container .credits__paragraph .credits__link:hover {
  color: hsl(223deg, 47%, 23%);
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
