@use 'index/index';
@use 'sass:map';


*,
::after,
::before {
    @include index.resetGeneralSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
}

.container {
    @include index.setGeneralContainer;
}

.main {
    outline: 2px solid black;

    .content {
        background-image: url(../assets/images/pattern_background_desktop.svg);
        background-repeat: repeat-x;

        .content__container {
            display: flex;
            justify-content: center;

            .card {
                width: 370px;
                height: max-content;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                background-color: white;
                font-family: index.$redHatDisplay;

                .card__img {
                    display: block;
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }

                .card__container {
                    width: 80%;
                    margin: 0 auto;
                    padding: 30px 0;

                    .card__title {
                        font-size: 22px;
                        font-weight: index.$redHatDisplayW900;
                        text-align: center;
                        margin-bottom: 15px;
                    }

                    .card__paragraph {
                        font-size: index.$redHatParagraph;
                        font-weight: index.$redHatDisplayW500;
                        color: map.get(index.$neutral, "desaturatedBlue");
                        margin-bottom: 15px;
                        text-align: center;
                    }

                    .card__details {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: map.get(index.$neutral, "veryPaleBlue");
                        padding: 20px;
                        border-radius: 10px;
                        margin-bottom: 30px;

                        .details__figure {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            .details__img {
                                display: block;
                                object-fit: contain;
                            }

                            .details__plan {

                                .plan__time {
                                    font-weight: index.$redHatDisplayW900;
                                }

                                .plan__price {
                                    color: map.get(index.$neutral, "desaturatedBlue");
                                }

                            }

                        }

                        .details__change {
                            color: map.get(index.$primary, "brightBlue");
                            font-family: index.$redHatDisplay;
                            font-weight: index.$redHatDisplayW700;

                            &:hover {
                                opacity: 0.6;
                            }

                        }

                    }

                    .card__buton {
                        background-color: map.get(index.$primary, "brightBlue");
                        color: white;
                        padding: 13px 0;
                        display: block;
                        width: 100%;
                        border-radius: 10px;
                        font-family: index.$redHatDisplay;
                        font-size: 15px;
                        font-weight: index.$redHatDisplayW700;
                        margin-bottom: 30px;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                        cursor: pointer;

                        &:hover {
                            opacity: 0.6;
                        }

                    }

                    .card__cancel {
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        font-family: index.$redHatDisplay;
                        font-size: 15px;
                        font-weight: index.$redHatDisplayW900;
                        color: map.get(index.$neutral, "desaturatedBlue");
                        margin-bottom: 10px;

                        &:hover {
                            color: map.get(index.$neutral, "darkBlue");
                        }

                    }

                }

            }

        }

    }

}