@use 'index/index';


*,
::after,
::before {
    @include index.resetGeneralSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
    background-image: url(../assets/images/pattern_background_desktop.svg);
    background-repeat: no-repeat
}

.container {
    @include index.setGeneralContainer;
}

.main {

    .content {

        .content__container {
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .card {
                width: 350px;
                height: max-content;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                border-radius: 15px;

                .card__img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }

            }

        }

    }

}