@use 'index/index';


*,
::after,
::before {
    @include index.resetGeneralSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
}

.container {
    @include index.setGeneralContainer;
}

.main {
    outline: 2px solid black;

    .content {
        background-image: url(../assets/images/pattern_background_desktop.svg);
        background-repeat: repeat-x;

        .content__container {
            display: flex;
            justify-content: center;

            .card {
                width: 350px;
                height: max-content;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                border-radius: 15px;
                background-color: white;
                font-family: index.$redHatDisplay;

                .card__img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }

                .card__container {
                    width: 80%;
                    margin: 0 auto;
                    padding: 30px 0;

                    .card__title {
                        font-size: 22px;
                        font-weight: index.$redHatDisplayW900;
                        text-align: center;
                    }

                }

            }

        }

    }

}