@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$redHatDisplay: 'Red Hat Display', sans-serif;

$redHatDisplayW500: 500;
$redHatDisplayW700: 700;
$redHatDisplayW900: 900;

$redHatParagraph: 16px;
