@mixin resetGeneralSettings {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin setHTML {
    height: 100%;
}

@mixin setBody {
    min-height: 100vh;
    width: 100%;
}

@mixin setGeneralContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
