@use '../variables/fonts';
@use '../variables/colors';
@use 'sass:map';


@mixin resetGeneralSettings {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin setHTML {
    font-family: fonts.$redHatDisplay;
    font-size: fonts.$redHatParagraph;
    font-weight: fonts.$redHatDisplayW500;
    color: map.get(colors.$neutral, "desaturatedBlue ");
}

@mixin setBody {
    width: 100%;
    min-height: 100vh;
}

@mixin setGeneralContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}
